html, body {
 height: 100%; 
}

body { 
margin: 0; 
font-family: Roboto, "Helvetica Neue", sans-serif; 
min-height: 100vh;
}

.snackbar {
    margin-top: 90px !important;
    margin-right: 20px !important;
}