<header>
  <div>
    <h1>HUMAN RESOURCE DEPARTMENT</h1>
  </div>
</header>

<body>
  <!--Here displays the creat new job offer input in a card-->
  <mat-card class="card">
    <mat-card-content class="cardcontent">
      <h2>Creat new Job offer</h2>
    </mat-card-content>

    <mat-expansion-panel class="matpanel">
      <mat-expansion-panel-header class="matheader">
        <mat-panel-title>
          <mat-icon class="createIcon">create</mat-icon>
          Fill in the Fields
        </mat-panel-title>
        <mat-panel-description class="paneldiscription">
          send to HR Manager
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="mat-expansion-panel-body.ng-tns-c330948415-3">
        <div class="divmatfield1">
          <mat-form-field class="matfield">
            <mat-label>Profession Titel</mat-label>
            <input [(ngModel)]="jobOffer.professionTitel" matInput required>
          </mat-form-field>

          <mat-form-field class="matfield">
            <mat-label>Profession Type</mat-label>
            <mat-select [(ngModel)]="jobOffer.professionType" placeholder="">
              <mat-option value="CEO">CEO</mat-option>
              <mat-option value="Worker">Worker</mat-option>
              <mat-option value="Manager">Manager</mat-option>
              <mat-option value="Intern">Intern</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="matfield">
            <mat-label>Number of Positions</mat-label>
            <input [(ngModel)]="jobOffer.numberProfessions" matInput type="number" min="1" required>
          </mat-form-field>
        </div>

        <div class="divmatfield2">
          <mat-form-field class="matfieldDiscription">
            <mat-label>Discription</mat-label>
            <textarea class="textareaDiscription" [(ngModel)]="jobOffer.description" matInput></textarea>
          </mat-form-field>
        </div>

        <div class="divButton">
          <mat-action-row>
            <button class="button" mat-button color="primary" (click)="sendData()"
              [disabled]="!jobOffer.professionTitel|| !jobOffer.professionType || !jobOffer.numberProfessions || jobOffer.numberProfessions < 1">Send</button>
          </mat-action-row>
        </div>
      </div>

    </mat-expansion-panel>

  </mat-card>


  <!--Here displays the adjust contract from WEPLACM in a card-->
  <mat-card class="card">
    <mat-card-content class="cardcontent">
      <h2>Adjust Contract</h2>
    </mat-card-content>

    <mat-accordion #accordion>
      
      <div class="panel" *ngIf="dataContract.length>0">
        <mat-expansion-panel *ngFor="let contract  of dataContract; let y = index" class="matpanelJobStandards"
          [expanded]="stepJS == y" (opened)="setStepCO(y)" hideToggle>
          <mat-expansion-panel-header class="matheader">
            <mat-panel-title>
              <mat-icon class="createIcon">create</mat-icon>
              Check the Compansation
            </mat-panel-title>
            <mat-panel-description class="paneldiscription">
              send to WEPLACM
            </mat-panel-description>
            <mat-icon class="personIcon">payment</mat-icon>
          </mat-expansion-panel-header>
          <div class="box-content">
            <div class="box-row">
              <div class="box-item full-width">
                <div class="item-box">
                  <p>Profession Type: </p>
                  <p>{{contract.professionType}}</p>
                </div>
              </div>
              <div class="box-item full-width">
                <div class="item-box">
                  <p>Number of Positions</p>
                  <p>{{contract.numberProfessions}}</p>
                </div>
              </div>
            </div>
            <div class="box-row">
              <div class="box-item full-width">
                <div class="item-box">
                  <p>WEPLACM suggestion:</p>
                  <p>{{contract.suggestion}}</p>
                </div>
              </div>
       
              <div class="box-item full-width">
                <div class="item-box">
                  <p>Compansation</p>
                  <mat-form-field class="matfield">  
                    <mat-label>Compensation</mat-label>
                    <input [(ngModel)]="contract.compensation" matInput type="number" min="0.00" step="0.01" required>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
          <div style="display: flex; justify-content: space-between;">
            <mat-action-row>
              <button mat-button color="primary" (click)="openDialogPay(contract)">Accept</button>
              <!-- <button mat-button color="warn">Reject</button> -->
            </mat-action-row>
            <mat-action-row>
              <button mat-button color="warn" (click)="prevStepCO()">Previous</button>
              <button mat-button color="primary" (click)="nextStepCO()">Next</button>
            </mat-action-row>
          </div>
        </mat-expansion-panel>
      </div>

    </mat-accordion>

  </mat-card>



  <!-- Here the adjust contract input displayes in a card
  <mat-card class="card">
    
    <mat-card-content class="cardcontent">
      <h2>Adjust Contract</h2>
    </mat-card-content>
    
    <div class="panel" *ngIf="dataContract.length>0">
      <mat-expansion-panel *ngFor="let contract  of dataContract; let y = index" class="matpanelJobStandards"
        [expanded]="stepJS == y" (opened)="setStepJS(y)" hideToggle>
        <mat-expansion-panel-header class="matheader">
          <mat-panel-title>
            Contract
          </mat-panel-title>

          <mat-panel-description class="paneldiscription">
            {{contract.professionType}}
          </mat-panel-description>
          <mat-panel-description class="paneldiscription">
            {{contract.numberProfessions}}
          </mat-panel-description>


        </mat-expansion-panel-header>
        <div class="box-content">
          <div class="box-row">
            <div class="box-item full-width">
              <div class="item-box">
                <p>Compensation</p>
                <input class="field" [(ngModel)]="contract.compensation" matInput type="float" [defaultValue]="contract.compensation" min="0.00" step="0.01" required>
              </div>
            </div>
            <div class="box-item full-width">
              <div class="item-box">
                <p>WEPLACM suggestion:</p>
                <p>{{contract.suggestion}}</p>
              </div>
            </div>

          </div>


          <div class="divButtonBoth">
            <mat-action-row>
              <button mat-button color="Send Contract to WEPLACM" (click)="openDialogPay(contract)">Accept</button>
            </mat-action-row>
          </div>
        </div>
      </mat-expansion-panel>
    </div>


  </mat-card> -->




  <mat-card class="card">
    <mat-card-content class="cardcontent">
      <h2>Current News</h2>
    </mat-card-content>

    <mat-accordion #accordion>

      <!--Here displays the not accepted JobOffers in a card-->
      <div class="panel" *ngIf="dataJobOffer.length > 0">
        <mat-expansion-panel *ngFor="let item of dataJobOffer; let i = index" class="matpanelJobOffer"
          [expanded]="stepJO == i" (opened)="setStepJO(i)" hideToggle>
          <mat-expansion-panel-header class="matheader">
            <mat-panel-title>
              Job Offer
            </mat-panel-title>
            <mat-panel-description class="paneldiscription">
              wait for answer from HR Department
            </mat-panel-description>
            <mat-icon class="personIcon">find_in_page</mat-icon>
          </mat-expansion-panel-header>
          <div class="box-content">
            <div class="box-row">
              <div class="box-item full-width">
                <div class="item-box">
                  <p>Profession Titel: </p>
                  <p>{{ item.professionTitel}}</p>
                </div>
              </div>
              <div class="box-item full-width">
                <div class="item-box">
                  <p>Profession Type:</p>
                  <p>{{ item.professionType}}</p>
                </div>
              </div>
            </div>
            <div class="box-row">
              <div class="box-item full-width">
                <div class="item-box">
                  <p>Number of needed Professions:</p>
                  <p>{{ item.numberProfessions}}</p>
                </div>
              </div>
              <div class="box-item full-width">
                <div class="item-box">
                  <p>Description:</p>
                  <p>{{ item.description}}</p>
                </div>
              </div>
            </div>
          </div>
          <mat-action-row>
            <button mat-button color="warn" (click)="prevStepJO()">Previous</button>
            <button mat-button color="primary" (click)="nextStepJO()">Next</button>
          </mat-action-row>
        </mat-expansion-panel>
      </div>

      <!--Here displays the accepted JobOffers in a card-->
      <div class="panel" *ngIf="dataJobOfferAccepted.length > 0">
        <mat-expansion-panel *ngFor="let item of dataJobOfferAccepted let i = index" class="matpanelJobOffer"
          [expanded]="stepJO == i" (opened)="setStepJO(i)" hideToggle>
          <mat-expansion-panel-header class="matheader">
            <mat-panel-title>
              Job Offer
            </mat-panel-title>
            <mat-panel-description class="paneldiscription">
              accepted from HR-Manager
            </mat-panel-description>
            <mat-icon class="doneIcon">done_all</mat-icon>
            <mat-icon class="personIcon">find_in_page</mat-icon>
          </mat-expansion-panel-header>
          <div class="box-content">
            <div class="box-row">
              <div class="box-item full-width">
                <div class="item-box">
                  <p>Profession Titel: </p>
                  <p>{{ item.professionTitel}}</p>
                </div>
              </div>
              <div class="box-item full-width">
                <div class="item-box">
                  <p>Profession Type:</p>
                  <p>{{ item.professionType}}</p>
                </div>
              </div>
            </div>
            <div class="box-row">
              <div class="box-item full-width">
                <div class="item-box">
                  <p>Number of needed Professions:</p>
                  <p>{{ item.numberProfessions}}</p>
                </div>
              </div>
              <div class="box-item full-width">
                <div class="item-box">
                  <p>Description:</p>
                  <p>{{ item.description}}</p>
                </div>
              </div>
            </div>
          </div>
          <mat-action-row>
            <button mat-button color="warn" (click)="prevStepJO()">Previous</button>
            <button mat-button color="primary" (click)="nextStepJO()">Next</button>
          </mat-action-row>
        </mat-expansion-panel>
      </div>

      <!--Here displays the accepted JobStandards in a card-->
      <div class="panel" *ngIf="dataJobStandards.length > 0">
        <mat-expansion-panel *ngFor="let item of dataJobStandards; let i = index" class="matpanelJobStandards"
          [expanded]="stepJS == i" (opened)="setStepJS(i)" hideToggle>
          <mat-expansion-panel-header class="matheader">
            <mat-panel-title>
              Job Standard
            </mat-panel-title>
            <mat-panel-description class="paneldiscription">
              accepted from HR-Manager
            </mat-panel-description>
            <mat-icon class="doneIcon">done_all</mat-icon>
            <mat-icon class="personIcon">description</mat-icon>
          </mat-expansion-panel-header>
          <div class="box-content">
            <div class="box-row">
              <div class="box-item full-width">
                <div class="item-box">
                  <p>Job Title: </p> 
                  <p>{{item.JobTitle}}</p>
                </div>
              </div>
              <div class="box-item full-width">
                <div class="item-box">
                  <p>Process ID: </p>
                  <p>{{item.ProcessID}}</p>
                </div>
              </div>
            </div>
            <div class="box-row">
              <div class="box-item full-width">
                <div class="item-box">
                  <p>Job Type:</p> 
                  <p>{{item.JobType}}</p>
                </div>
              </div>
              <div class="box-item full-width">
                <div class="item-box">
                  <p>Number of Positions: </p>
                  <p>{{item.numberOfPositions}}</p>
                </div>
              </div>
            </div>
            <div class="box-row">
              <div class="box-item full-width">
                <div class="item-box">
                  <p>Job Mode: </p>
                   <p>{{item.JobMode}}</p>
                </div>
              </div>
              <div class="box-item full-width">
                <div class="item-box">
                  <p>Industry: </p>
                  <p>{{item.Industry}}</p>
                </div>
              </div>
            </div>
            <div class="box-row">
              <div class="box-item full-width">
                <div class="item-box">
                  <p>Location: </p>
                   <p>{{item.Location}}</p>
                </div>
              </div>
              <div class="box-item full-width">
                <div class="item-box">
                  <p>Language:</p> 
                  <p>{{item.Language}}</p>
                </div>
              </div>
            </div>
            <div class="box-row">
              <div class="box-item full-width">
                <div class="item-box">
                  <p>Graduation Level:</p> 
                  <p>{{item.GraduationLevel}}</p>
                </div>
              </div>
              <div class="box-item full-width">
                <div class="item-box">
                  <p>Annual Salary:</p> 
                  <p>{{item.AnnualSalary}}€</p>
                </div>
              </div>
            </div>
            <div class="box-row">
              <div class="box-item full-width">
                <div class="item-box">
                  <p>Required Experience:</p> 
                  <p>{{item.RequiredExperience}} Years</p>
                </div>
              </div>
              <div class="box-item full-width">
                <div class="item-box">
                  <p>Weekly Hours:</p> 
                  <p>{{item.WeeklyHours}} Hours</p>
                </div>
              </div>
            </div>
            <div class="box-row">
              <div class="box-item full-width">
                <div class="item-box">
                  <p>Benefits: </p>
                  <p>{{item.Benefits}}</p>
                </div>
              </div>
              <div class="box-item full-width">
                <div class="item-box">
                  <p>Paid Time Off:</p> 
                  <p>{{item.PaidTimeOff}} Days</p>
                </div>
              </div>
            </div>
            <div class="box-row">
              <div class="box-item full-width">
                <div class="item-box">
                  <p>Responsibilities: </p>
                   <p>{{item.Responsibilities}}</p>
                </div>
              </div>
              <div class="box-item full-width">
                <div class="item-box">
                  <p>Job Description:</p> 
                  <p>{{item.JobDescription}}</p>
                </div>
              </div>
            </div>
            </div>
          <mat-action-row>
            <button mat-button color="warn" (click)="prevStepJS()">Previous</button>
            <button mat-button color="primary" (click)="nextStepJS()">Next</button>
          </mat-action-row>
        </mat-expansion-panel>
      </div>

      <!--Here displays the TopCandidates in a card-->
      <div class="panel" *ngIf="dataTopCandidateAccepted.length > 0">
        <mat-expansion-panel *ngFor="let item of dataTopCandidateAccepted; let i = index" class="matpanelTopCandidates"
          [expanded]="stepTC == i" (opened)="setStepTC(i)" hideToggle>
          <mat-expansion-panel-header class="matheader">
            <mat-panel-title>
              Top Candidate
            </mat-panel-title>
            <mat-panel-description class="paneldiscription">
              accepted from HR-Manager
            </mat-panel-description>
            <mat-icon class="doneIcon">done_all</mat-icon>
            <mat-icon class="personIcon">account_circle</mat-icon>
          </mat-expansion-panel-header>
          <div class="box-content">
            <div class="box-row">
              <div class="box-item full-width">
                <div class="item-box">
                  <p>CandidateID: </p>
                  <p>{{item.CandidateID}}</p>
                </div>
              </div>
              <div class="box-item full-width">
                <div class="item-box">
                  <p>Last Name: </p>
                  <p>{{item.last_name}}</p>
                </div>
              </div>
            </div>

            <div class="box-row">
              <div class="box-item full-width">
                <div class="item-box">
                  <p>First Name: </p>
                  <p>{{item.first_name}}</p>
                </div>
              </div>
              <div class="box-item full-width">
                <div class="item-box">
                  <p>Age: </p>
                  <p>{{item.age}}</p>
                </div>
              </div>
            </div>

            <div class="box-row">
              <div class="box-item full-width">
                <div class="item-box">
                  <p>Gender: </p>
                  <p>{{item.gender}}</p>
                </div>
              </div>
              <div class="box-item full-width">
                <div class="item-box">
                  <p>Zip Code: </p>
                  <p>{{item.zip_code}}</p>
                </div>
              </div>
            </div>

            <div class="box-row">
              <div class="box-item full-width">
                <div class="item-box">
                  <p>City: </p>
                  <p>{{item.city}}</p>
                </div>
              </div>
              <div class="box-item full-width">
                <div class="item-box">
                  <p>Adress: </p>
                  <p>{{item.adress}}</p>
                </div>
              </div>
            </div>

            <div class="box-row">
              <div class="box-item full-width">
                <div class="item-box">
                  <p>Country: </p>
                  <p>{{item.country}}</p>
                </div>
              </div>
              <div class="box-item full-width">
                <div class="item-box">
                  <p>Previous Company: </p>
                  <p>{{item.previous_company}}</p>
                </div>
              </div>
            </div>

            <div class="box-row">
              <div class="box-item full-width">
                <div class="item-box">
                  <p>E-Mail: </p>
                  <p>{{item.email}}</p>
                </div>
              </div>
              <div class="box-item full-width">
                <div class="item-box">
                  <p>Rating: </p>
                  <p>{{item.rating}}</p>
                </div>
              </div>
            </div>

            <div class="box-row">
              <div class="box-item full-width">
                <div class="item-box">
                  <p>Linkedin: </p>
                  <p>{{item.linkedin}}</p>
                </div>
              </div>
              <div class="box-item full-width">
                <div class="item-box">
                  <p>Interview Date: </p>
                  <p>{{item.InterviewDate}}</p>
                </div>
              </div>
            </div>

          </div>

          <mat-action-row>
            <button mat-button color="warn" (click)="prevStepTC()">Previous</button>
            <button mat-button color="primary" (click)="nextStepTC()">Next</button>
          </mat-action-row>
        </mat-expansion-panel>
      </div>


      <!--Here displays the newEmployees in a card-->
      <div class="panel" *ngIf="dataNewEmployees.length > 0">
        <mat-expansion-panel *ngFor="let item of dataNewEmployees; let i = index" class="matpanelNewEmployees"
          [expanded]="stepNE == i" (opened)="setStepNE(i)" hideToggle>
          <mat-expansion-panel-header class="matheader">
            <mat-panel-title>
              New Employee
            </mat-panel-title>
            <mat-panel-description class="paneldiscription">
              {{ item.last_name}}
            </mat-panel-description>
            <mat-icon class="personIcon">perm_identity</mat-icon>
          </mat-expansion-panel-header>

          <div class="box-content">
            <div class="box-row">
              <div class="box-item full-width">
                <div class="item-box">
                  <p>Job Title: </p>
                  <p>{{item.JobTitle}}</p>
                </div>
              </div>
              <div class="box-item full-width">
                <div class="item-box">
                  <p>Job Type: </p>
                  <p>{{item.JopType}}</p>
                </div>
              </div>
            </div>

            <div class="box-row">
              <div class="box-item full-width">
                <div class="item-box">
                  <p>CandidateID: </p>
                  <p>{{item.CandidateID}}</p>
                </div>
              </div>
              <div class="box-item full-width">
                <div class="item-box">
                  <p>Last Name: </p>
                  <p>{{item.last_name }}</p>
                </div>
              </div>
            </div>

            <div class="box-row">
              <div class="box-item full-width">
                <div class="item-box">
                  <p>First Name: </p>
                  <p>{{item.first_name}}</p>
                </div>
              </div>
              <div class="box-item full-width">
                <div class="item-box">
                  <p>Age: </p>
                  <p>{{item.age}}</p>
                </div>
              </div>
            </div>

            <div class="box-row">
              <div class="box-item full-width">
                <div class="item-box">
                  <p>Gender: </p>
                  <p>{{item.gender}}</p>
                </div>
              </div>
              <div class="box-item full-width">
                <div class="item-box">
                  <p>Zip Code: </p>
                  <p>{{item.zip_code}}</p>
                </div>
              </div>
            </div>

            <div class="box-row">
              <div class="box-item full-width">
                <div class="item-box">
                  <p>City: </p>
                  <p>{{item.city}}</p>
                </div>
              </div>
              <div class="box-item full-width">
                <div class="item-box">
                  <p>Adress: </p>
                  <p>{{item.adress}}</p>
                </div>
              </div>
            </div>

            <div class="box-row">
              <div class="box-item full-width">
                <div class="item-box">
                  <p>Country: </p>
                  <p>{{item.country}}</p>
                </div>
              </div>
              <div class="box-item full-width">
                <div class="item-box">
                  <p>Previous Company: </p>
                  <p>{{item.previous_company}}</p>
                </div>
              </div>
            </div>

            <div class="box-row">
              <div class="box-item full-width">
                <div class="item-box">
                  <p>E-Mail: </p>
                  <p>{{item.email}}</p>
                </div>
              </div>
              <div class="box-item full-width">
                <div class="item-box">
                  <p>Rating: </p>
                  <p>{{item.rating}}</p>
                </div>
              </div>
            </div>

            <div class="box-row">
              <div class="box-item full-width">
                <div class="item-box">
                  <p>Linkedin: </p>
                  <p>{{item.linkedin}}</p>
                </div>
              </div>

            </div>


          </div>

          <mat-action-row>
            <button mat-button color="warn" (click)="prevStepNE()">Previous</button>
            <button mat-button color="primary" (click)="nextStepNE()">Next</button>
          </mat-action-row>
        </mat-expansion-panel>
      </div>

    </mat-accordion>


  </mat-card>

</body>