<header>
  <div>
    <h1>HUMAN RESOURCE DEPARTMENT</h1>
  <!-- <img id="backImage" src="assets/images/hrdepartment.jpg" alt="backgroundBanner"> -->
  </div>
</header>

<body>

  <mat-card class = "card">
    <mat-card-content class = "cardcontent"><h2>Creat new Job offer</h2></mat-card-content>
  
      <mat-expansion-panel class ="matpanel">
        <mat-expansion-panel-header class = "matheader">
          <mat-panel-title>
            <mat-icon class = "createIcon">create</mat-icon>
              Fill in the Fields
            </mat-panel-title>
          <mat-panel-description class = "paneldiscription">
            send to HR Manager
          </mat-panel-description>
        </mat-expansion-panel-header>
        
    <div class="mat-expansion-panel-body.ng-tns-c330948415-3">
    <div class="divmatfield1">
      <mat-form-field class = "matfield">
        <mat-label>Profession Titel</mat-label>
        <input [(ngModel)]="jobOffer.professionTitel" matInput required>
      </mat-form-field>

      <mat-form-field class = "matfield">
        <mat-label>Profession Type</mat-label>
        <input [(ngModel)]="jobOffer.professionType" matInput required>
      </mat-form-field>

        <mat-form-field class = "matfield">
          <mat-label>Number of Professions</mat-label>
          <!-- <input [(ngModel)]="jobOffer.numberProfessions" matInput> -->
          <input [(ngModel)]="jobOffer.numberProfessions" matInput type="number" min="1" required>
        </mat-form-field>
    </div>

    <div class="divmatfield2">
        <mat-form-field class = "matfieldDiscription">
          <mat-label>Discription</mat-label>
          <textarea class = "textareaDiscription" [(ngModel)]="jobOffer.description" matInput></textarea>
          </mat-form-field>
    </div>

    <div class="divButton">
      <mat-action-row>
      <!-- <button class = "button" mat-button color="primary" [disabled]="!professionTitel|| !professionType || !numberProfessions">Send</button> -->
      <button class = "button" mat-button color="primary" (click)= "sendData()" [disabled]="!jobOffer.professionTitel|| !jobOffer.professionType || !jobOffer.numberProfessions || jobOffer.numberProfessions < 1">Send</button>
      </mat-action-row>
    </div>
  </div>
   
  </mat-expansion-panel>
    
</mat-card>


<mat-card class = "card">
    <mat-card-content class = "cardcontent"><h2>Current News</h2></mat-card-content>
    <!-- <div class="divNoNews">   
      *ngIf="!hasData()">
       <p *ngIf="datacandidate"><em>No current news are available!</em></p> 
    </div> -->

    
    <mat-accordion #accordion>

      <!--Hier kommt die JobOffer zurück-->
      <div class ="panel">
        <mat-expansion-panel *ngFor="let item of dataJobOffer; let i = index" class="matpanelJobOffer" [expanded]="stepJO == i" (opened)="setStepJO(i)" hideToggle>
          <mat-expansion-panel-header class = "matheader">
            <mat-panel-title>
              Job Offer
            </mat-panel-title>
            <mat-panel-description class = "paneldiscription">
              wait for answer from HR Department
            </mat-panel-description>
            <mat-icon class ="personIcon">find_in_page</mat-icon>
          </mat-expansion-panel-header>  
          <p>Profession Titel: {{ item.professionTitel}}</p>
          <p>Profession Type: {{ item.professionType}}</p>
          <p>Number of needed Professions: {{ item.numberProfessions}}</p>
          <p>Description: {{ item.description}}</p>
          <mat-action-row>
            <button mat-button color="warn" (click)="prevStepJO()">Previous</button>
            <button mat-button color="primary" (click)="nextStepJO()">Next</button>
          </mat-action-row>
        </mat-expansion-panel>
      </div>     


      <!--Hier kommt die akzeptierten JobOffer zurück-->
      <div class ="panel">
        <mat-expansion-panel *ngFor="let item of dataJobOfferAccepted let i = index" class="matpanelJobOffer" [expanded]="stepJO == i" (opened)="setStepJO(i)" hideToggle>
          <mat-expansion-panel-header class = "matheader">
            <mat-panel-title>
              Job Offer
            </mat-panel-title>
            <mat-panel-description class = "paneldiscription">
              accepted
              <mat-icon class ="doneIcon">done_all</mat-icon>
            </mat-panel-description>
            <mat-icon class ="personIcon">find_in_page</mat-icon>
          </mat-expansion-panel-header>  
          <p>Profession Titel: {{ item.professionTitel}}</p>
          <p>Profession Type: {{ item.professionType}}</p>
          <p>Number of needed Professions: {{ item.numberProfessions}}</p>
          <p>Description: {{ item.description}}</p>
          <mat-action-row>
            <button mat-button color="warn" (click)="prevStepJO()">Previous</button>
            <button mat-button color="primary" (click)="nextStepJO()">Next</button>
          </mat-action-row>
        </mat-expansion-panel>
      </div>  

      
      <!--Hier kommen JobStandards zurück-->
      <div class ="panel"*ngIf="dataJobStandards">
        <mat-expansion-panel *ngFor="let item of dataJobStandards; let i = index" class="matpanelJobStandards" [expanded]="stepJS === i" (opened)="setStepJS(i)" hideToggle>
          <mat-expansion-panel-header class = "matheader">
            <mat-panel-title>
              Job Standard
            </mat-panel-title>
            <mat-panel-description class = "paneldiscription">
              {{item.JobTitle}}
            </mat-panel-description>
            <mat-icon class ="personIcon">description</mat-icon>
          </mat-expansion-panel-header>  
          <p>Job Title: {{item.JobTitle}}</p>
          <p>Job Type: {{item.JobType}}</p>
          <p>Job Mode: {{item.JobMode}}</p>
          <p>Annual Salary: {{item.AnnualSalary}}</p>
          <p>Benefits: {{item.Benefits}}</p>
          <p>Graduation Level: {{item.GraduationLevel}}</p>
          <p>Industry: {{item.Industry}}</p>
          <p>Language: {{item.Language}}</p>
          <p>Location: {{item.Location}}</p>
          <p>Paid Time Off: {{item.PaidTimeOff}}</p>
          <p>Process ID: {{item.ProcessID}}</p>
          <p>Required Experience: {{item.RequiredExperience}}</p>
          <p>Responsibilities: {{item.Responsibilities}}</p>
          <p>Weekly Hours: {{item.WeeklyHours}}</p>
          <p>Number of Positions: {{item.numberOfPositions}}</p>
          <p>Job Description: {{item.JobDescription}}</p>
          <mat-action-row>
            <button mat-button color="warn" (click)="prevStepJS()">Previous</button>
            <button mat-button color="primary" (click)="nextStepJS()">Next</button>
          </mat-action-row>
      </mat-expansion-panel>
    </div>


      <!--Hier kommen TopCandidates zurück-->
      <div class ="panel">
        <mat-expansion-panel *ngFor="let item of dataTopCandidate; let i = index" class="matpanelTopCandidates" [expanded]="stepTC === i" (opened)="setStepTC(i)" hideToggle>
          <mat-expansion-panel-header class = "matheader">
            <mat-panel-title>
              Top Candidate
            </mat-panel-title>
            <mat-panel-description class = "paneldiscription">
              {{ item.last_name}}
            </mat-panel-description>
            <mat-icon class ="personIcon">account_circle</mat-icon>
          </mat-expansion-panel-header>  
          <p>CandidateID: {{ item.CandidateID}}</p>
          <p>Last Name: {{ item.last_name }}</p>
          <p>First Name: {{ item.first_name}}</p>
          <p>Age: {{ item.age }}</p>
          <p>Gender: {{ item.gender}}</p>
          <p>Zip Code: {{ item.zip_code}}</p>
          <p>City: {{ item.city}}</p>
          <p>Adress: {{ item.adress}}</p>
          <p>Country: {{ item.country}}</p>
          <p>Previous Company: {{ item.previous_company}}</p>
          <p>E-Mail: {{ item.email}}</p>
          <p>Rating: {{ item.rating }}</p>
          <p>Linkedin: {{ item.linkedin }}</p>
          <mat-action-row>
            <button mat-button color="warn" (click)="prevStepTC()">Previous</button>
            <button mat-button color="primary" (click)="nextStepTC()">Next</button>
          </mat-action-row>
        </mat-expansion-panel>
      </div>


      <!--Hier kommen new Employees zurück-->
      <div class ="panel">
        <mat-expansion-panel *ngFor="let item of dataNewEmployess; let i = index" class="matpanelNewEmployees" [expanded]="stepNE === i" (opened)="setStepNE(i)" hideToggle>
          <mat-expansion-panel-header class = "matheader">
            <mat-panel-title>
              New Employee
            </mat-panel-title>
            <mat-panel-description class = "paneldiscription">
              {{ item.last_name}}
            </mat-panel-description>
            <mat-icon class ="personIcon">perm_identity</mat-icon>
          </mat-expansion-panel-header>  
          <p>Job Title: {{ item.JobTitle}}</p>
          <p>Job Type: {{ item.JopType}}</p>
          <p>CandidateID: {{ item.CandidateID}}</p>
          <p>Last Name: {{ item.last_name }}</p>
          <p>First Name: {{ item.first_name}}</p>
          <p>Age: {{ item.age }}</p>
          <p>Gender: {{ item.gender}}</p>
          <p>Zip Code: {{ item.zip_code}}</p>
          <p>City: {{ item.city}}</p>
          <p>Adress: {{ item.adress}}</p>
          <p>Country: {{ item.country}}</p>
          <p>Previous Company: {{ item.previous_company}}</p>
          <p>E-Mail: {{ item.email}}</p>
          <p>Rating: {{ item.rating }}</p>
          <p>Linkedin: {{ item.linkedin }}</p>
          <mat-action-row>
            <button mat-button color="warn" (click)="prevStepNE()">Previous</button>
            <button mat-button color="primary" (click)="nextStepNE()">Next</button>
          </mat-action-row>
        </mat-expansion-panel>
      </div>

    </mat-accordion>
  

  </mat-card>
  
</body>