header{
    margin-top: 5px;
    height: 150px;
    background-color: #1a645d;
}

header div{
    padding-top: 60px;
    margin-left: 18%;
    margin-right: 18%;
    color: #fff;
}

h1{
    font-size: 28px;
    font-weight: bold;
}

h2{
    font-size: 20px;
    font-weight: 500;
}

#backImage {
    margin-top: 60px;
    width: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    z-index: -1;
  }

body{
    margin-left: 18%;
    margin-right: 18%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.card {
    margin-top: 20px;
    margin-bottom: 100px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #0e4177;
}

.cardcontent{
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 15px;
    color: #fff;
    display: flex;
    justify-content: space-between; 
    align-items: stretch; 
}

.matpanel{
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 6px;
    background-color: rgb(247, 247, 247);
}

.matfield{
    width: 300px;
    height: 80px;
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
}

.divmatfield1 {
    margin-top: 30px;
    width: 50%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column; 
    flex: 1;
    float:left;
    
}

.divmatfield2 {
    margin-top: 30px;
    width: 50%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column; 
    flex: 1;
    float:right;
    
}

.paneldiscription{
    justify-content: space-between;
    align-items: center;
}
  
.button{
    width: 150px;
    height: 50px;
    float:right;
}

.createIcon{
    padding-right: 25px;
}