<footer class="footer">
    <div class="footer-content">

        <div class="footerSectionAbout">
            <h2>About us</h2>
            <p>
                Develop your potential - With us, you will not only find a good company, but also the opportunity to become an important part of it. We are looking for committed talents like you to be successful together!
            </p>
        </div>

        <div class="footerSectionLinks">
            <h2>Links</h2>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/">Products</a></li>
                <li><a href="">Etc.</a></li>
            </ul>
        </div>

        <div class="footerSectionContact">
            <h2>Contact</h2>
            <p>
                <a href="https://www.google.com/maps?q=Universitätsstraße 1, 56073 Koblenz"class="material-icons">home</a>
                <span href="https://www.google.com/maps?q=Universitätsstraße 1, 56073 Koblenz"> Ferdinand-Sauerbruch-Straße 17, 56073 Koblenz (DE)</span>
            </p>
            <p>
                <a href="mailto:info@wbig.com" class="material-icons"> mail</a>
                <span href="mailto:info@wbig.com"> info&#64;wbig.com</span> 
            </p>
            <p>
                <a href="tel:+49123456789" class="material-icons">phone</a>
                <span href="tel:+49123456789"> +49 1234 56789</span> 
            <p>
                <a class="material-icons">print</a>
                <span> +49 1343 324342</span> 
            </p>
        </div>

    </div>

    <div class="copyright">
        &copy; 2024 WBIG LLC
    </div>
    
</footer>