<header>
    <div>
      <h1>HUMAN RESOURCE MANAGER</h1>
    <!-- <img id="backImage" src="assets/images/hrdepartment.jpg" alt="backgroundBanner"> -->
    </div>
  </header>

  <body>
    
    <mat-card class = "card">
        <mat-card-content class = "cardcontent"><h2>Job Openings For Review</h2></mat-card-content>
        <!-- <div class="divNoNews" *ngIf="!hasData()">
          <p><em>No current news are available!</em></p>
        </div> -->

              <!--Hier kommt die JobOffer zurück-->
    
      <div class ="panel">
        <mat-expansion-panel *ngFor="let item of dataJobOffer; let i = index" class="matpanelJobOffer" [expanded]="step === i" (opened)="setStep(i)" hideToggle>
          <mat-expansion-panel-header class = "matheader">
            <mat-panel-title>
              {{ item.professionTitel}} 
            </mat-panel-title>
            <mat-panel-description class = "paneldiscription">
              {{ item.numberProfessions}}
              <mat-icon class ="personIcon">find_in_page</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>  
          <p>Profession Titel: {{ item.professionTitel}}</p>
          <p>Profession Type: {{ item.professionType}}</p>
          <p>Number of needed Professions: {{ item.numberProfessions}}</p>
          <p>Description: {{ item.description}}</p>

        <div style="display: flex; justify-content: space-between;">
          <mat-action-row>
            <button mat-button color="primary" (click)="acceptJob(item)">Accept</button>
            <button mat-button color="primary" (click)="rejectJob(item)">Reject</button>
          </mat-action-row>


          <mat-action-row>
            <button mat-button color="warn" (click)="prevStep()">Previous</button>
            <button mat-button color="primary" (click)="nextStep()">Next</button>
          </mat-action-row> 
        
        </div>

       </mat-expansion-panel>
     </div>
       
    
  </mat-card>

   
      
    <mat-card class = "card">
     
      <mat-card-content class = "cardcontent"><h2>Fill in Job Standards</h2></mat-card-content>
        <!--<div class="divNoNews" *ngIf="!hasData()">
        <p><em>No current news are available!</em></p>
      </div> -->
      <mat-accordion #accordion>
            <mat-expansion-panel *ngFor="let item of dataJobOfferAccapted; let i = index" class="matpanelJobOffer" [expanded]="step === i" (opened)="setStep(i)" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
               {{ item.professionTitel}} 
              </mat-panel-title>
              <mat-panel-description class = "paneldiscription">
                ID: {{ item.processID }}
                <mat-icon class ="createIcon">create</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

        <div class="divmatfieldneu">

          <div class="divmatfieldrow"> 
            <mat-form-field class="matfield">
              <mat-label>Location</mat-label>
              <mat-select [(ngModel)]="jobStandards.Location" placeholder="Select Location">
                <mat-option value="Germany">Germany</mat-option>
                <mat-option value="USA">USA</mat-option>
                <mat-option value="China">China</mat-option>
              </mat-select>
            </mat-form-field>
          <mat-form-field class = "matfield">
            <mat-label>Job Mode</mat-label>
            <mat-select [(ngModel)]="jobStandards.JobMode" placeholder="Select Job Mode">
              <mat-option value="Homeoffice">Homeoffice</mat-option>
              <mat-option value="Inoffice">Inoffice</mat-option>
              <mat-option value="Remote">Remote</mat-option>
            </mat-select>
          </mat-form-field>
        </div>


        <div class="divmatfieldrow"> 
          <mat-form-field class = "matfield">
            <mat-label>Language</mat-label>
            <mat-select [(ngModel)]="jobStandards.Language" placeholder="Select Language">
              <mat-option value="German">German</mat-option>
              <mat-option value="English">English</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class = "matfield">
            <mat-label>Graduation Level</mat-label>
            <mat-select [(ngModel)]="jobStandards.GraduationLevel" placeholder="Select Graduation Level">
              <mat-option value="A-Levels">A-Levels</mat-option>
              <mat-option value="Bachelors">Bachelors</mat-option>
              <mat-option value="Masters">Masters</mat-option>
              <mat-option value="Doctorate">Doctorate</mat-option>
            </mat-select>
          </mat-form-field>

        </div>
          
          
          
          
          <div class="divmatfieldrow"> 
             <mat-form-field class = "matfield">
              <mat-label>Required Experience</mat-label>
               <input [(ngModel)]="jobStandards.RequiredExperience" matInput type="number">
            </mat-form-field>
             <mat-form-field class = "matfield">
               <mat-label>Responsibilities</mat-label>
               <input [(ngModel)]="jobStandards.Responsibilities" matInput>
             </mat-form-field>
             </div>

          

          <div class="divmatfieldrow"> 
            <mat-form-field class = "matfield">
              <mat-label>  Weekly Hours</mat-label>
              <input [(ngModel)]="jobStandards.WeeklyHours" matInput type="number" min="1">
            </mat-form-field>

            <mat-form-field class = "matfield">
              <mat-label>Paid Time Off</mat-label>
               <input [(ngModel)]="jobStandards.PaidTimeOff" matInput type="number" min="0">
            </mat-form-field>



          </div>
       
          <div class="divmatfieldrow"> 
            <mat-form-field class = "matfield">
              <mat-label>  Annual Salary:</mat-label>
              <input [(ngModel)]="jobStandards.AnnualSalary" matInput type="number" min="0">
            </mat-form-field>
             <mat-form-field class = "matfield">
               <mat-label>Benefits</mat-label>
               <input [(ngModel)]="jobStandards.Benefits" matInput>
             </mat-form-field>
            </div>
       
            <div class="divmatfieldrow"> 
             <mat-form-field class = "matfield">
              <mat-label>Industry</mat-label>
              <input [(ngModel)]="jobStandards.Industry" matInput>
            </mat-form-field>
            <mat-form-field class = "matfield">
              <mat-label>  Number Of Positions</mat-label>
              <input [(ngModel)]="jobStandards.numberOfPositions" matInput type="number" min="1">
            </mat-form-field>
            

          </div>
            <div class="divmatfieldrow"> 
            <mat-form-field class="matfield">
              <mat-label>Add Job Standards here</mat-label>
              <textarea class = "textareaDiscription" [(ngModel)]="jobStandards.JobDescription" matInput></textarea>
            </mat-form-field>
          </div>
          <div class="divmatfieldrow"> 
            <div class="matfieldfulltext"> 
              <div class="divButton">
                
                <mat-action-row>
                  <!-- <button class="button" mat-button color="primary" (click)= "sendData(item)" >Send</button> -->

                  <!-- <button class="button" mat-button color="primary" (click)= "sendData()" [disabled]="!jobStandards.ProcessID || !jobStandards.JobTitle || !jobStandards.JobType || !jobStandards.RequiredExperience || !jobStandards.JobDescription || !jobStandards.Responsibilities || !jobStandards.Location || !jobStandards.JobMode || !jobStandards.WeeklyHours || !jobStandards.AnnualSalary || !jobStandards.PaidTimeOff || !jobStandards.Benefits || !jobStandards.Industry || !jobStandards.GraduationLevel || !jobStandards.Language || !jobStandards.numberOfPositions">Send</button> -->
                  
                </mat-action-row>
              </div>
              <mat-action-row class="StepButton">
                <button mat-button color="warn" (click)="prevStepJobStandard()">Previous</button>
                <button mat-button color="primary" (click)="nextStepJobStandard()">Next</button>
              </mat-action-row>
            </div>
            </div>
            </div>
          
          </mat-expansion-panel>    
      </mat-accordion>
    </mat-card>
    


    <mat-card class = "card">
      <mat-card-content class = "cardcontent"><h2>Candidates For Review</h2></mat-card-content>
      <!-- <div class="divNoNews" *ngIf="!hasData()">
        <p><em>No current news are available!</em></p>
      </div> -->
            <div class ="panel" *ngIf="dataJobStandards.length > 0">
              <mat-expansion-panel *ngFor="let item of dataJobStandards; let i = index" class="matpanelJobStandards" [expanded]="step === i" (opened)="setStep(i);getJobStandardsWithTopCandidates(item)" hideToggle>


                <mat-expansion-panel-header class = "matheader">
                

                  <mat-panel-title>
                    {{item.JobTitle}}
                  </mat-panel-title>
                  <mat-panel-description class = "paneldiscription">
                    {{item.ProcessID}}
                  </mat-panel-description>
                  <mat-icon class ="personIcon">description</mat-icon>
                  
                </mat-expansion-panel-header>  
                <p>Job Title: {{item.JobTitle}}</p>
                <p>Job Type: {{item.JobType}}</p>
                <p>Job Mode: {{item.JobMode}}</p>
                <p>Annual Salary: {{item.AnnualSalary}}</p>
                <p>Benefits: {{item.Benefits}}</p>
                <p>Graduation Level: {{item.GraduationLevel}}</p>
                <p>Industry: {{item.Industry}}</p>
                <p>Language: {{item.Language}}</p>
                <p>Location: {{item.Location}}</p>
                <p>Paid Time Off: {{item.PaidTimeOff}}</p>
                <p>Process ID: {{item.ProcessID}}</p>
                <p>Required Experience: {{item.RequiredExperience}}</p>
                <p>Responsibilities: {{item.Responsibilities}}</p>
                <p>Weekly Hours: {{item.WeeklyHours}}</p>
                <p>Number of Positions: {{item.numberOfPositions}}</p>
                <p>Job Description: {{item.JobDescription}}</p>
                <mat-action-row>
                  <button mat-button color="warn" (click)="prevStep()">Previous</button>
                  <button mat-button color="primary" (click)="nextStep()">Next</button>
                </mat-action-row>

                <div class ="panel" *ngIf="dataJobStandardsWithTopCandidates.length > 0">
                  <mat-expansion-panel *ngFor="let candidate of dataJobStandardsWithTopCandidates; let x = index" class="matpanelJobStandards2" [expanded]="step === x" (opened)="setStepCandidates(x)" hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>Top Candidates</mat-panel-title>
                  </mat-expansion-panel-header>
                    <p>Candidate ID: {{candidate.CandidateID}}</p>
                    <p>Process ID: {{candidate.ProcessID}}</p>
                    <p>Address: {{candidate.address}}</p>
                    <p>Age: {{candidate.age}}</p>
                    <p>City: {{candidate.city}}</p>
                    <p>Country: {{candidate.country}}</p>
                    <p>Email: {{candidate.email}}</p>
                    <p>First Name: {{candidate.first_name}}</p>
                    <p>Gender: {{candidate.gender}}</p>
                    <p>Last Name: {{candidate.last_name}}</p>
                    <p>LinkedIn: {{candidate.linkedin}}</p>
                    <p>Previous Company: {{candidate.previous_company}}</p>
                    <p>Rating: {{candidate.rating}}</p>
                    <p>Zip Code: {{candidate.zip_code}}</p>

                    <div style="display: flex; justify-content: space-between;">
                      <mat-action-row>
                        <button mat-button color="primary" (click)="acceptTopCandidate(candidate, item)">Accept</button>
                        <button mat-button color="primary" (click)="rejectTopCandidate(candidate, item)">Reject</button>
                      </mat-action-row>

                      <mat-action-row>
                        <button mat-button color="warn" (click)="prevStepCandidates()">Previous</button>
                        <button mat-button color="primary" (click)="nextStepCandidates()">Next</button>
                      </mat-action-row>
                    </div>


             
                </mat-expansion-panel>
              </div>
             
            </mat-expansion-panel>
          </div>
          
    </mat-card>
