<header>
    <div>
      <h1>HUMAN MANAGER</h1>
    <!-- <img id="backImage" src="assets/images/hrdepartment.jpg" alt="backgroundBanner"> -->
    </div>
  </header>

  <body>
    <h2>Review Job Opening</h2>
    <mat-card class = "card">
        <mat-card-content class = "cardcontent">Job Information</mat-card-content>
    
        <!-- <div class="example-action-buttons">
            <button mat-button (click)="openAll()">Expand All</button>
            <button mat-button (click)="closeAll()">Collapse All</button>
        </div> -->
    
        <mat-accordion class="example-headers-align" #accordion>
            <mat-expansion-panel *ngFor="let item of jobinformation; let i = index" class="matpanel" [expanded]="step === i" (opened)="setStep(i)" hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ item.jobtitle}}
                </mat-panel-title>
                <mat-panel-description class = "paneldiscription">
                  <br>
                  <mat-icon>account_circle</mat-icon>
                </mat-panel-description>
              </mat-expansion-panel-header>  
              <p>Number: {{ item.number}}</p>
              <p>Location: {{ item.location }}</p>
              <p>Salary: {{ item.salary }}</p>
              <p>Additonal Information: {{ item.additionalinformation }}</p>

                        <!-- Buttons innerhalb der Kachel -->

              <div style="display: flex; justify-content: space-between;">
                <mat-action-row>
                  <button mat-button color="primary" (click)="acceptJob(item)">Annehmen</button>
                  <button mat-button color="warn" (click)="rejectJob(item)">Ablehnen</button>
                </mat-action-row>

                <mat-action-row>
                  <button mat-button color="warn" (click)="prevStep()">Previous</button>
                  <button mat-button color="primary" (click)="nextStep()">Next</button>
                </mat-action-row>
              
              </div>

            </mat-expansion-panel>
                 
        </mat-accordion>
    
      </mat-card>
            
    </body>

      





