header{
    margin-top: 0px;
    height: 150px;
    background-color: #44641a;
}

header div{
    padding-top: 60px;
    margin-left: 18%;
    margin-right: 18%;
    color: #fff;
}

h1{
    font-size: 28px;
    font-weight: bold;
}

h2{
    font-size: 20px;
    font-weight: 500;
}

#backImage {
    margin-top: 60px;
    width: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    z-index: -1;
  }

body{
    margin-left: 18%;
    margin-right: 18%;
    margin-top: 50px;
    margin-bottom: 50px;
    height: auto;
}

.card {
    margin-top: 20px;
    margin-bottom: 100px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #44641a;
    max-height: 1000px;
    overflow-y: auto;
}

.cardcontent{
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 15px;
    color: #fff;
    display: flex;
    justify-content: space-between; 
    align-items: stretch; 
}

.matpanel{
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 6px;
    background-color: rgb(247, 247, 247);
    border-radius: 10px;
}

.createIcon{
  
    color: #ffff;
    background-color: #555555;
    border-radius: 10px;
    
}
.panel{
    padding-top: 20px;
}

.paneldiscription{
    justify-content: space-between;
    align-items: center;
}



.matfield{
 
    flex: 1;
    width: 50%;
 
} 

.matfieldfulltext{
    flex-basis: 100%;
    display: flex; justify-content: space-between;
}

.matpanel{
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 6px;
    background-color: rgb(247, 247, 247);
    border-radius: 10px;
}

.matpanelJobOffer{
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 6px;
    border-radius: 10px;
}

.matpanelJobStandards{
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 6px;
    border-radius: 10px;
}

.divButton {
    width: 15%;
    height: 45px;
    display: flex;
    padding-right: 10px;
    float: right;
  }
  
.divButton mat-action-row {
    padding: 0px;
    margin: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .button {
    margin: 10px 0;
    float:left;
  }

.disabled-button {
    color: #8f8f8f;
  }

.personIcon{
    color: #555555;
}



.divmatfieldneu {
    display: flex;
    flex-direction: column;
    width: 100%;
 

}
.divmatfieldrow{
    display: flex;

}

.StepButton{
    display: flex;
    float: right;
}


.box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .box {
    width: 48%; 
    margin-bottom: 15px;
  }
  
  .box-content {
    display: flex;
    flex-wrap: wrap;
  }
  
  .box-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .box-item {
    width: calc(48% - 10px); 
    box-sizing: border-box; 
    margin-bottom: 15px;
  }
  
  .full-width {
    width: 100%;
  }
  
  .item-box {
    border: 1px solid #ccc;
    padding: 10px;
    min-height: 75px;
  }

 
  
  .item-box-description {
    max-height: 100px; 
    overflow-y: auto; 
    white-space: pre-wrap; 
    box-sizing: border-box; 
  }
  
 .box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  