<header>
  <div>
    <h1>ACCOUNTING</h1>
  <!-- <img id="backImage" src="assets/images/hrdepartment.jpg" alt="backgroundBanner"> -->
  </div>
</header>

<body>
  
  <!-- <mat-card class = "card">
      <mat-card-content class = "cardcontent"><h2> Incoming Invoices</h2></mat-card-content>
  
      <div class="example-action-buttons">
          <button mat-button (click)="openAll()">Expand All</button>
          <button mat-button (click)="closeAll()">Collapse All</button>
      </div>
  
      <mat-accordion class="example-headers-align" #accordion>
          <mat-expansion-panel class="matpanel" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{""}}
              </mat-panel-title>
              <mat-panel-description class = "paneldiscription">
                <br>
                <mat-icon>account_circle</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>  
            <p>Payment-ID: {{""}}</p>
            <p>Total Payment: {{""}}</p>
            <p>New Employees: {{""}}</p>
            

            <div style="display: flex; justify-content: space-between;">
              <mat-action-row>
                <button mat-button color="primary" (click)="openDialogReject()">Pay</button>
                <button mat-button color="primary"(click)="openDialogReject()">Show Invoice</button>
                <button mat-button color="warn" (click)="openDialogReject()">Reject</button>
              </mat-action-row>

              <mat-action-row>
                <button mat-button color="warn" (click)="prevStep()">Previous</button>
                <button mat-button color="primary" (click)="nextStep()">Next</button>
              </mat-action-row>
            
            </div>

          </mat-expansion-panel>
               
      </mat-accordion>
  
    </mat-card> -->

    <!--Hier wird die daten übergeben NEU
    <div>
      <h2>News from HR Department</h2>
      <div *ngFor="let item of dataNews">
        <p>Name: {{ item.name }}</p>
        <p>Education: {{ item.education }}</p>
        <p>Location: {{ item.location }}</p>
        <p>Salary: {{ item.salary }}</p>
        <p>Age: {{ item.age }}</p>
        <p>Info: {{ item.info }}</p>
        <hr>
      </div>
    </div> -->


    <!--Here displays the invoice news in a card-->
    <mat-card class="card">
      <mat-card-content class="cardcontent">
        <h2>Invoice News</h2>
      </mat-card-content>
  
      <mat-accordion #accordion>
  
        
        <div class="panel">
          <mat-expansion-panel class="matpanelInvoice" hideToggle>
            <mat-expansion-panel-header class="matheader">
              <mat-panel-title>
                Invoice
              </mat-panel-title>
              <mat-panel-description class="paneldiscription">
                answer from WEPLACM
              </mat-panel-description>
              <mat-icon class="personIcon">payment</mat-icon>
            </mat-expansion-panel-header>
            <div class="box-content">
              <div class="box-row">
                <div class="box-item full-width">
                  <div class="item-box">
                    <p>Profession Titel: </p>
                    <p>{{""}}</p>
                  </div>
                </div>
                <div class="box-item full-width">
                  <div class="item-box">
                    <p>Profession Type:</p>
                    <p>{{""}}</p>
                  </div>
                </div>
              </div>
              <div class="box-row">
                <div class="box-item full-width">
                  <div class="item-box">
                    <p>Number of needed Professions:</p>
                    <p>{{""}}</p>
                  </div>
                </div>
                <div class="box-item full-width">
                  <div class="item-box">
                    <p>Description:</p>
                    <p>{{""}}</p>
                  </div>
                </div>
              </div>
            </div>
            <mat-action-row>
              <button mat-button color="warn" (click)="prevStepInvoice()">Previous</button>
              <button mat-button color="primary" (click)="nextStepInvoice()">Next</button>
            </mat-action-row>
          </mat-expansion-panel>
        </div>
  
      </mat-accordion>
    </mat-card>
          
  </body>


<!-- <h1>Accounting - Invoices</h1>

<div id="invoicesContainer">
  <mat-card *ngFor="let invoice of invoices" class="invoice" (click)="showPDF(invoice.pdfUrl)">
    <h2>Rechnung #{{ invoice.id }}</h2>
    <p>Rechnungsbetrag: ${{ invoice.amount.toFixed(2) }}</p>
    <button mat-raised-button color="primary" (click)="acceptInvoice(invoice.id)">Akzeptieren</button>
    <button mat-raised-button color="warn" (click)="claimInvoice(invoice.id)">Reklamieren</button>
  </mat-card>
</div>

<button mat-raised-button (click)="changeOrder()">Reihenfolge ändern</button> -->
