<header>
  <div>
    <h1>ACCOUNTING</h1>
  <!-- <img id="backImage" src="assets/images/hrdepartment.jpg" alt="backgroundBanner"> -->
  </div>
</header>

<body>
  
    <!--Here displays the invoice news in a card-->
    <mat-card class="card">
      <mat-card-content class="cardcontent">
        <h2>Invoice News</h2>
      </mat-card-content>
  
      <mat-accordion #accordion>
  
        <div class="panel" *ngIf="dataInvoice.length > 0">
          <mat-expansion-panel *ngFor="let item  of dataInvoice; let i = index"class="matpanelInvoice"  [expanded]="step == i" (opened)="setStepInvoice(i)" hideToggle>
            <mat-expansion-panel-header class="matheader">
              <mat-panel-title>
                Invoice
              </mat-panel-title>
              <mat-panel-description class="paneldiscription">
                answer from WEPLACM
              </mat-panel-description>
              <mat-icon class="personIcon">payment</mat-icon>
            </mat-expansion-panel-header>
            <div class="box-content">
              <div class="box-row">
                <div class="box-item full-width">
                  <div class="item-box">
                    <p>Process ID: </p>
                    <p>{{item.ProcessID}}</p>
                  </div>
                </div>
                <div class="box-item full-width">
                  <div class="item-box">
                    <p>Number of Positino:</p>
                    <p>{{item.numberOfPosition}}</p>
                  </div>
                </div>
              </div>
              <div class="box-row">
                <div class="box-item full-width">
                  <div class="item-box">
                    <p>Compensation:</p>
                    <p>{{item.compensation}}</p>
                  </div>
                </div>
                <div class="box-item full-width">
                  <div class="item-box">
                    <p>Pay:</p>
                    <p>{{item.sumPay}}</p>
                  </div>
                </div>
              </div>
            </div>
            <mat-action-row>
              <button mat-button color="warn" (click)="prevStepInvoice()">Previous</button>
              <button mat-button color="primary" (click)="nextStepInvoice()">Next</button>
            </mat-action-row>
          </mat-expansion-panel>
        </div>
  
      </mat-accordion>
    </mat-card>
          
  </body>