<div fxLayoutAlign="center center" fxFlexFill class="maindiv">
  <mat-card fxFlex="18">
    <mat-toolbar>
      <span>Login</span>
    </mat-toolbar>

    <form fxLayoutAlign="strech" fxLayout="column" class="loginform">
      <div class = "loginWindowUsername">
        <mat-form-field class = "matformfield">
          <mat-label>Username</mat-label>
          <input matInput placeholder="" type="username" name="username" [(ngModel)]="username" required>
          <mat-hint class = "matauto" style="color:red" *ngIf="unvalidusername">Please enter a right username!</mat-hint>
        </mat-form-field>
      </div>

      <div class = "loginWindowPassword">
        <mat-form-field class = "matformfield">
          <mat-label>Password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" placeholder="" type="password" name="password" [(ngModel)]="password" required>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          <mat-hint class = "matHint" style="color:red" *ngIf="unvalidpassword">Please enter a right password!</mat-hint>
        </mat-form-field>
      </div>

      <div class = "divButton">
        <button class = "button" mat-raised-button color="primary" (click)="login();" [disabled]="!username || !password">Login</button>
      </div>

    </form>
  </mat-card>    
</div>






