
<header>
  <img id="backImage" src="assets/images/banner4.jpg" alt="backgroundBanner">
  <h1> - WBIG - </h1>
  <div class="divSlogen">
    <p id="slogen1">"Code your Dreams, Debug your Challenges: Unleashing Innovation in Every Line of Code!"</p>
    <p id="information" style="line-height: 1.5;">"WBIG stands out for its culture of innovation, collaborative excellence, and commitment to individual growth. Join our dynamic team, united by a shared passion, pushing boundaries and shaping the future of technology."</p>
  </div>

</header>